@import 'font.css';
footer{
    text-align:right;
}
.FooterContent{
    color: #d7d7d7;
    padding: 30px 25px;
    background-color: #2b2b2b;
}
.FooterContent h2,.FooterContent p{
    margin: 0;
}

.FooterContent h2{
    font-size: 20px;
}
.FooterLinks  a{
    display: inline-block;
    color: #737373;
    font-size: 14px;
    transition: all 0.2s linear;
}
.FooterLinks  a:hover{
    color: #fcd200 !important;
}
.FooterLinks  a:before{
    content: '';
    width: 10px;
    height: 3px;
    display: inline-block;
    background: #fcd200;
    vertical-align: baseline;
    margin-left: 8px;
    border-radius: 50px;

}
.Contact{
    background: #252525;
    text-align: center;
    font-size: 13px;
    color: #717171;
    padding: 3px 0;
}
.Contact a{
    margin:0 5px;
}

.Contact img{
    vertical-align: middle;
    transition: all 0.3s ease;
}
.Contact img:hover{
    opacity: 0.6;
}
.CopyRight{
    background: #1d1d1d;
    padding: 6px 10px;
    text-align: center;
    color: #3e3e3e;
    font-size: 13px;
}
.FooterItem img{
    margin: auto 0;
}
.moreLink a{
    color: #737373;
    font-size: 12px;
    transition: all 0.3s ease;
}
.moreLink a:hover{
    color: #bdbdbd;
}
.moreLink a:after{
    content: '>>';
    margin-right: 5px;
    font-family: serif;
}