@import 'font.css';
header{
    /* position: fixed; */
    width: 100%;
    z-index: 5;
    background: #f9f9f9;
    padding: 15px 0;
}
nav ul{
    list-style-type: none;
    padding:0;
    margin: 0;
}
nav li{
    display: inline-block;
    margin-left:0;
}
.Logo{
    width:30px;
    vertical-align: middle;
}
nav ul li a{
    padding: 2px 20px;
    display: block;
    text-decoration: none;
    color: #8e8e8e;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease-out;
}
nav ul li:last-child a{
    border-left: none;
}
nav ul li a:hover{
    color: #528a7b;
}
.search_icon {
    vertical-align: middle;
    fill: #8e8e8e;
    width: 20px;
    transition: all 0.3s ease;
    cursor: pointer
}
.search_icon:hover{
    fill:#528a7b;
}
.Login button{
    border: none;
    background-color:transparent;
    border-radius: 50px;
    font-size: 1.1vw;
    padding: 2px 15px;
    transition: all 0.3s ease;
    
}
.Login button a{
    color: #8e8e8e;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
}

.Login button:hover a{
    color: #528a7b;
}