@import 'font.css';
.Background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.blogHeader{
    margin-top: 0;
    color: #244c40;
}
.Box{
    margin:auto 0;
}
.Box img{
    width : 50px;
    vertical-align: bottom;
}
.Box .NumberText{
    background: #ffffff4a;
    border-radius: 50px;
    color: #555;
}
.BoxItem{
    padding: 10px 15px;
    border-radius: 5px;
}
.BoxItem h1{
    margin:0;
    color:#528a7b
}
.BoxItem p{
    width: 370px;
    color: #445044;
    font-size: 14px;
    margin: 0;
    text-align: justify;
}
.Category{
    background: #e4e4e4;
    padding: 20px 0;
}
.Category ul{
    list-style-type: none;
    padding:0;
    text-align: center;
}
.Category li{
    display: inline;
    padding: 5px 20px;
}
.Category li a{
    color: #797979;
    font-size: 15px;
    font-weight: bold;
    transform: all 0.3s ease;
}
.Category li a:hover{
    color: #387563;
}
.Bloger{
    text-align: center;
    padding: 20px 50px;
}

.Bloger .User img{
    border-radius: 50px;
    object-fit: cover;
}
.Bloger .User span{
    font-size: 15px;
    color: #797979;
}
.Bloger .User p{
    font-size: 13px;
    color: #9a9a9a;
    text-align: center;
    margin: 0;
}
.Blog{
    padding: 20px 15px;
    text-align:right;
}
.Blog img{
    max-width: 300px;
    border-radius: 3px;
}
.Blog h3{
    margin: 0;
    font-size: 16px;
    color: #083356;
}
.Blog p{
    margin: 0;
    color: #9a9a9a;
    font-size: 15px;
}
.BlogTitle h2{
    color: #083356;
    text-align: center;
}
.BlogTitle form{
    width: 100%;
}
.BlogTitle input{
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    color: white;
    background-color: #0000008c;
}
.Info{
    background-image: url('../images/develoeprbg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 300px;
    padding:50px 0;
}
.FirstItems{
    padding:50px 0;
    background-color:#e4e4e4;
}
.FirstItems h2{
    color: #353535;
    font-size: 20px;
}
.UserItem img{
    vertical-align: middle;
}
.UserItem span{
    font-size: 12px;
    color: darkgrey;
}
.Posts{
    flex-wrap: wrap;
    align-items: flex-start;
}
.Posts > div {
    width: 33.333333%;
    height: 300px;
}
.Posts img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.PostItem{
    position: relative;
}
.PostItemOverlay{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px 15px;
    background: #0000004d;
    display: block;
}
.PostItemOverlay h3,.PostItemOverlay p{
    margin:0;
    color: white;
}
.Question{
    padding:50px 0l
}
.Question form{
    text-align: right;
}
.Question textarea{
    border: 1px solid #d2d2d2;
    border-radius: 1px;
    resize: none;
    padding: 5px 10px;
    font-size: 14px;
    height: 130px;
    color: #585858;
    text-align: right;
    outline: none;
}
.Question input{
    width: auto;
    display: block;
    background : white;
    border: 1px solid #d2d2d2;
    border-radius: 1px;
    padding: 5px 10px;
    font-size: 14px;
    color: #585858;
    text-align: right;
    outline: none;
}
.question_link{
    color: #528a7b;
}
.sectionBtn{
    font-size: 20px;
    font-weight: bold;
    padding: 0 60px;
}