@import 'font.css';

body{
margin: 0;
box-sizing: border-box;
direction: rtl;
font-family: "iransans" !important;
}
input,button,textarea{
    font-family: "iransans";
}
.form-control:focus{
    border:1px solid #329db4!important;
    box-shadow: none !important;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
.rtl{
    direction: rtl;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.w-100{
    width: 100% !important;
}
.container{
    width:95%;
    margin: auto;
}
.circleBtn {
    font-size: 12px;
    background: #e4e4e4;
    padding: 1px 10px;
    color: #797979;
    border-radius: 50px;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease;
}
#bg-green:hover {
    background: #009688;
    color: white;
}
#bg-red:hover {
    background: #ff2658;
    color: white;
}
#bg-blue:hover {
    background: #2196f3;
    color: white;
}
.bg-green{
    background: #009688;
}
.bg-red{
    background: #ff2658;
}
.bg-blue{
    background: #2196f3;
}
.step-item{
    opacity: 0;
    height: 0;
    position: absolute;
}
.this-step-show{
    transition: all 0.4s linear;
    position: relative;
    opacity: 1;
    height: auto;
}
.cover-background{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}