.search-container{
    background: rgba(2, 7, 1, 0.95);
    opacity: 0;
    height: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}
.search-container-show{
    opacity: 1;
    height: auto;
    z-index: 5;
    transform: translateX(0);
}
.search-input{
    background: #ffffff00;
    padding: 4px 10px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 25px;
    color:white;
}