.normal{font-weight:normal}
/*desktop font-size*/
.font-size-0{font-size:0!important}
.font-size-1{font-size:0.1rem!important}
.font-size-2{font-size:0.2rem!important}
.font-size-3{font-size:0.3rem!important}
.font-size-4{font-size:0.4rem!important}
.font-size-5{font-size:0.5rem!important}
.font-size-6{font-size:0.6rem!important}
.font-size-7{font-size:0.7rem!important}
.font-size-8{font-size:0.8rem!important}
.font-size-9{font-size:0.9rem!important}
.font-size1{font-size:1rem!important}
.font-size1-1{font-size:1.1rem!important}
.font-size1-2{font-size:1.2rem!important}
.font-size1-3{font-size:1.3rem!important}
.font-size1-4{font-size:1.4rem!important}
.font-size1-5{font-size:1.5rem!important}
.font-size1-6{font-size:1.6rem!important}
.font-size1-7{font-size:1.7rem!important}
.font-size1-8{font-size:1.8rem!important}
.font-size1-9{font-size:1.9rem!important}
.font-size2{font-size:2rem!important}
.font-size2-1{font-size:2.1rem!important}
.font-size2-2{font-size:2.2rem!important}
.font-size2-3{font-size:2.3rem!important}
.font-size2-4{font-size:2.4rem!important}
.font-size2-5{font-size:2.5rem!important}
.font-size3{font-size:3rem!important}
.font-size3-5{font-size:3.5rem!important}
.font-size4{font-size:4rem!important}
.font-size4-5{font-size:4.5rem!important}
.font-size5{font-size:5rem!important}
@media (min-width: 576px) {
    .font-sm-size-0{font-size:0!important}
    .font-sm-size-1{font-size:0.1rem!important}
    .font-sm-size-2{font-size:0.2rem!important}
    .font-sm-size-3{font-size:0.3rem!important}
    .font-sm-size-4{font-size:0.4rem!important}
    .font-sm-size-5{font-size:0.5rem!important}
    .font-sm-size-6{font-size:0.6rem!important}
    .font-sm-size-7{font-size:0.7rem!important}
    .font-sm-size-8{font-size:0.8rem!important}
    .font-sm-size-9{font-size:0.9rem!important}
    .font-sm-size1{font-size:1rem!important}
    .font-sm-size1-1{font-size:1.1rem!important}
    .font-sm-size1-2{font-size:1.2rem!important}
    .font-sm-size1-3{font-size:1.3rem!important}
    .font-sm-size1-4{font-size:1.4rem!important}
    .font-sm-size1-5{font-size:1.5rem!important}
    .font-sm-size1-6{font-size:1.6rem!important}
    .font-sm-size1-7{font-size:1.7rem!important}
    .font-sm-size1-8{font-size:1.8rem!important}
    .font-sm-size1-9{font-size:1.9rem!important}
    .font-sm-size2{font-size:2rem!important}
    .font-sm-size2-1{font-size:2.1rem!important}
    .font-sm-size2-2{font-size:2.2rem!important}
    .font-sm-size2-3{font-size:2.3rem!important}
    .font-sm-size2-4{font-size:2.4rem!important}
    .font-sm-size2-5{font-size:2.5rem!important}
    .font-sm-size3{font-size:3rem!important}
    .font-sm-size3-5{font-size:3.5rem!important}
    .font-sm-size4{font-size:4rem!important}
    .font-sm-size4-5{font-size:4.5rem!important}
    .font-sm-size5{font-size:5rem!important}
}
@media (max-width:468px){
    .font-sxs-size-0{font-size:0!important}
    .font-sxs-size-1{font-size:.1rem!important}
    .font-sxs-size-2{font-size:.2rem!important}
    .font-sxs-size-3{font-size:.3rem!important}
    .font-sxs-size-4{font-size:.4rem!important}
    .font-sxs-size-5{font-size:.5rem!important}
    .font-sxs-size-6{font-size:.6rem!important}
    .font-sxs-size-7{font-size:.7rem!important}
    .font-sxs-size-8{font-size:.8rem!important}
    .font-sxs-size-9{font-size:.9rem!important}
    .font-sxs-size1{font-size:1rem!important}
    .font-sxs-size1-1{font-size:1.1rem!important}
    .font-sxs-size1-2{font-size:1.2rem!important}
    .font-sxs-size1-3{font-size:1.3rem!important}
    .font-sxs-size1-4{font-size:1.4rem!important}
    .font-sxs-size1-5{font-size:1.5rem!important}
    .font-sxs-size1-6{font-size:1.6rem!important}
    .font-sxs-size1-7{font-size:1.7rem!important}
    .font-sxs-size1-8{font-size:1.8rem!important}
    .font-sxs-size1-9{font-size:1.9rem!important}
    .font-sxs-size2{font-size:2rem!important}
    .font-sxs-size2-1{font-size:2.1rem!important}
    .font-sxs-size2-2{font-size:2.2rem!important}
    .font-sxs-size2-3{font-size:2.3rem!important}
    .font-sxs-size2-4{font-size:2.4rem!important}
    .font-sxs-size2-5{font-size:2.5rem!important}
    .font-sxs-size3{font-size:3rem!important}
    .font-sxs-size3-5{font-size:3.5rem!important}
    .font-sxs-size4{font-size:4rem!important}
    .font-sxs-size4-5{font-size:4.5rem!important}
    .font-sxs-size5{font-size:5rem!important}
}
@media (max-width:368px){
    .font-uxs-size-0{font-size:0!important}
    .font-uxs-size-1{font-size:.1rem!important}
    .font-uxs-size-2{font-size:.2rem!important}
    .font-uxs-size-3{font-size:.3rem!important}
    .font-uxs-size-4{font-size:.4rem!important}
    .font-uxs-size-5{font-size:.5rem!important}
    .font-uxs-size-6{font-size:.6rem!important}
    .font-uxs-size-7{font-size:.7rem!important}
    .font-uxs-size-8{font-size:.8rem!important}
    .font-uxs-size-9{font-size:.9rem!important}
    .font-uxs-size1{font-size:1rem!important}
    .font-uxs-size1-1{font-size:1.1rem!important}
    .font-uxs-size1-2{font-size:1.2rem!important}
    .font-uxs-size1-3{font-size:1.3rem!important}
    .font-uxs-size1-4{font-size:1.4rem!important}
    .font-uxs-size1-5{font-size:1.5rem!important}
    .font-uxs-size1-6{font-size:1.6rem!important}
    .font-uxs-size1-7{font-size:1.7rem!important}
    .font-uxs-size1-8{font-size:1.8rem!important}
    .font-uxs-size1-9{font-size:1.9rem!important}
    .font-uxs-size2{font-size:2rem!important}
    .font-uxs-size2-1{font-size:2.1rem!important}
    .font-uxs-size2-2{font-size:2.2rem!important}
    .font-uxs-size2-3{font-size:2.3rem!important}
    .font-uxs-size2-4{font-size:2.4rem!important}
    .font-uxs-size2-5{font-size:2.5rem!important}
    .font-uxs-size3{font-size:3rem!important}
    .font-uxs-size3-5{font-size:3.5rem!important}
    .font-uxs-size4{font-size:4rem!important}
    .font-uxs-size4-5{font-size:4.5rem!important}
    .font-uxs-size5{font-size:5rem!important}
}
@media (min-width: 768px) {
    .font-md-size-0{font-size:0!important}
    .font-md-size-1{font-size:0.1rem!important}
    .font-md-size-2{font-size:0.2rem!important}
    .font-md-size-3{font-size:0.3rem!important}
    .font-md-size-4{font-size:0.4rem!important}
    .font-md-size-5{font-size:0.5rem!important}
    .font-md-size-6{font-size:0.6rem!important}
    .font-md-size-7{font-size:0.7rem!important}
    .font-md-size-8{font-size:0.8rem!important}
    .font-md-size-9{font-size:0.9rem!important}
    .font-md-size1{font-size:1rem!important}
    .font-md-size1-1{font-size:1.1rem!important}
    .font-md-size1-2{font-size:1.2rem!important}
    .font-md-size1-3{font-size:1.3rem!important}
    .font-md-size1-4{font-size:1.4rem!important}
    .font-md-size1-5{font-size:1.5rem!important}
    .font-md-size1-6{font-size:1.6rem!important}
    .font-md-size1-7{font-size:1.7rem!important}
    .font-md-size1-8{font-size:1.8rem!important}
    .font-md-size1-9{font-size:1.9rem!important}
    .font-md-size2{font-size:2rem!important}
    .font-md-size2-1{font-size:2.1rem!important}
    .font-md-size2-2{font-size:2.2rem!important}
    .font-md-size2-3{font-size:2.3rem!important}
    .font-md-size2-4{font-size:2.4rem!important}
    .font-md-size2-5{font-size:2.5rem!important}
    .font-md-size3{font-size:3rem!important}
    .font-md-size3-5{font-size:3.5rem!important}
    .font-md-size4{font-size:4rem!important}
    .font-md-size4-5{font-size:4.5rem!important}
    .font-md-size5{font-size:5rem!important}
}
@media (min-width: 992px) {
    .font-lg-size-0{font-size:0!important}
    .font-lg-size-1{font-size:0.1rem!important}
    .font-lg-size-2{font-size:0.2rem!important}
    .font-lg-size-3{font-size:0.3rem!important}
    .font-lg-size-4{font-size:0.4rem!important}
    .font-lg-size-5{font-size:0.5rem!important}
    .font-lg-size-6{font-size:0.6rem!important}
    .font-lg-size-7{font-size:0.7rem!important}
    .font-lg-size-8{font-size:0.8rem!important}
    .font-lg-size-9{font-size:0.9rem!important}
    .font-lg-size1{font-size:1rem!important}
    .font-lg-size1-1{font-size:1.1rem!important}
    .font-lg-size1-2{font-size:1.2rem!important}
    .font-lg-size1-3{font-size:1.3rem!important}
    .font-lg-size1-4{font-size:1.4rem!important}
    .font-lg-size1-5{font-size:1.5rem!important}
    .font-lg-size1-6{font-size:1.6rem!important}
    .font-lg-size1-7{font-size:1.7rem!important}
    .font-lg-size1-8{font-size:1.8rem!important}
    .font-lg-size1-9{font-size:1.9rem!important}
    .font-lg-size2{font-size:2rem!important}
    .font-lg-size2-1{font-size:2.1rem!important}
    .font-lg-size2-2{font-size:2.2rem!important}
    .font-lg-size2-3{font-size:2.3rem!important}
    .font-lg-size2-4{font-size:2.4rem!important}
    .font-lg-size2-5{font-size:2.5rem!important}
    .font-lg-size3{font-size:3rem!important}
    .font-lg-size3-5{font-size:3.5rem!important}
    .font-lg-size4{font-size:4rem!important}
    .font-lg-size4-5{font-size:4.5rem!important}
    .font-lg-size5{font-size:5rem!important}
}
@media (min-width: 1200px) {
    .font-xl-size-0{font-size:0!important}
    .font-xl-size-1{font-size:0.1rem!important}
    .font-xl-size-2{font-size:0.2rem!important}
    .font-xl-size-3{font-size:0.3rem!important}
    .font-xl-size-4{font-size:0.4rem!important}
    .font-xl-size-5{font-size:0.5rem!important}
    .font-xl-size-6{font-size:0.6rem!important}
    .font-xl-size-7{font-size:0.7rem!important}
    .font-xl-size-8{font-size:0.8rem!important}
    .font-xl-size-9{font-size:0.9rem!important}
    .font-xl-size1{font-size:1rem!important}
    .font-xl-size1-1{font-size:1.1rem!important}
    .font-xl-size1-2{font-size:1.2rem!important}
    .font-xl-size1-3{font-size:1.3rem!important}
    .font-xl-size1-4{font-size:1.4rem!important}
    .font-xl-size1-5{font-size:1.5rem!important}
    .font-xl-size1-6{font-size:1.6rem!important}
    .font-xl-size1-7{font-size:1.7rem!important}
    .font-xl-size1-8{font-size:1.8rem!important}
    .font-xl-size1-9{font-size:1.9rem!important}
    .font-xl-size2{font-size:2rem!important}
    .font-xl-size2-1{font-size:2.1rem!important}
    .font-xl-size2-2{font-size:2.2rem!important}
    .font-xl-size2-3{font-size:2.3rem!important}
    .font-xl-size2-4{font-size:2.4rem!important}
    .font-xl-size2-5{font-size:2.5rem!important}
    .font-xl-size3{font-size:3rem!important}
    .font-xl-size3-5{font-size:3.5rem!important}
    .font-xl-size4{font-size:4rem!important}
    .font-xl-size4-5{font-size:4.5rem!important}
    .font-xl-size5{font-size:5rem!important}
}
/*line-height*/
.lh{line-height:0.9}
.lh1{line-height:1}
.lh1-5{line-height:1.5}
.lh2{line-height:2}
.lh2-5{line-height:2.5}
.lh3{line-height:3}
.lh3-5{line-height:3.5}
