$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #b9b9b9 !default;
$gray-700: #767676 !default;
$gray-800: #474747 !default;
$gray-900:#333333 !default;
$black: #000 !default;
$grays: (
        100: $gray-100,
        200: $gray-200,
        300: $gray-300,
        400: $gray-400,
        500: $gray-500,
        600: $gray-600,
        700: $gray-700,
        800: $gray-800,
        900: $gray-900,
) !default;
$org-blue:#17a2b8 !default;
$blue: #1565C0 !default;
$indigo: #003EA3 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$brown:#C9876D !default;
$red: #ED1943 !default;
$green: #2A857B !default;
$yellow: #FBC02D !default;
$orange: #fd7e14 !default;
$teal: #20c997 !default;
$cyan: #47C9B6 !default;
$colors: (
        black: $black,
        blue: $blue,
        indigo: $indigo,
        purple: $purple,
        pink: $pink,
        red: $red,
        orange: $orange,
        yellow: $yellow,
        green: $green,
        teal: $teal,
        cyan: $cyan,
        white: $white,
        gray: $gray-600,
        gray-dark: $gray-800,
        brown: $brown,
) !default;
$theme-colors: (
        primary: $blue,
        secondary: $gray-800,
        success: $green,
        info: $org-blue,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $black,
        red: $red,
        brown:$brown,
        yellow: $yellow,
        green:$green,
        gray-900:$gray-900,
        gray-800:$gray-800,
        gray-700:$gray-700,
        gray-600:$gray-600,
        gray-500:$gray-500,
        gray-400:$gray-400,
        gray-300:$gray-300,
        gray-200:$gray-200,
        gray-100:$gray-100,
        black: $black,
) !default;